
.dd:hover {
  width: 300px;
  background-color: antiquewhite;


}

.p:hover {
  font-size: large;
  border-radius: 15px;
  box-shadow: 2px 0 65px 10px inset rgb(114, 241, 103);
}


.ss:hover {
  width: 500px;
  background-color: rgb(26, 144, 184);


}

a {
  color: black;
  text-decoration: none;
}

input {
  border-radius: 5px;
}

a:hover {
  text-decoration-color: rgb(210, 68, 7);
  text-decoration: underline;

}
header{
position: fixed;
top: 0%;
left: 0%;
padding: 20px 10px;
width: 100%;
z-index: 1;
display: flex;
justify-content: space-evenly;
align-items: center;
transition: 0.5s;
background: linear-gradient(90deg, rgba(192,191,208,1) 13%, rgba(25,72,210,1) 44%, rgba(0,212,255,1) 100%);
font-family: 'poppins', sans-serif;
scroll-behavior: smooth;

}

.logo{
color: #353b68;
font-weight: bold;
font-size: 2em;
text-decoration: none;
margin-right: 70px;
margin-left: -55px;
}
.logo span{
color: #dd8221;
}

.navbar{
display: flex;
position: relative;
}
.navbar li{
list-style: none;
}
.navbar a{
color: #060606;
text-decoration: none;
margin-left: 30px;
font-weight: 700;
font-size: 1.1em;
}
.btn-reserve{
padding: 10px 20px;
background: #fb911f;
margin-top: -10px;
text-transform:uppercase ;
}

.btn-reserve:hover{
background: #d87710;
transition: ease-out;
}

header .navbar li a:hover{
color: #fb911f;
border-bottom: 2px solid #fb911f;
}
header.sticky{
background: #fff;
padding: 10px 10px;
box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}

header.sticky .logo{
color: #000;
}

header.sticky .navbar li a {
color: #000;
}

header.sticky li a:hover{
color: #fb911f;
border-bottom: 2px solid #fb911f;
} 
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Style du formulaire */
  form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
    
    width: 70%;
  }
  
  /* Style des titres de sections */
  h1 {
    color: #0077b6;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Style des tableaux */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td, th {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #0077b6;
    color: #fff;
    text-align: left;
  }
  
  /* Style des champs de saisie */
  input[type="number"], textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  /* Style des boutons */
  input[type="submit"] {
    background-color: #0077b6;
    color: #fff;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style des champs obligatoires */
  input[required], textarea[required] ,input[type="number"]{
    border-color: #0077b6;
    border:1.5px solid #0077b6;
  }
  
  /* Style des notes de chaque section */
  textarea {
    resize: none;
    height: 100px;
  }
  
  /* Style de la première section */
  tr:first-child {
    background-color: #f5f5f5;
  }
  
  /* Style des autres sections */
  tr:not(:first-child):nth-child(odd) {
    background-color: #f5f5f5;
  }
  
  /* Couleurs personnalisées */
  th {
    background-color: orange;
  }
  
  input[type="submit"] {
    background-color: #43aa8b;
  }
  
  input[type="submit"]:hover {
    background-color: #0077b6;
  }
  