
.dd:hover {
  width: 300px;
  background-color: antiquewhite;


}

.p:hover {
  font-size: large;
  border-radius: 15px;
  box-shadow: 2px 0 65px 10px inset rgb(114, 241, 103);
}


.ss:hover {
  width: 500px;
  background-color: rgb(26, 144, 184);


}

a {
  color: black;
  text-decoration: none;
}

input {
  border-radius: 5px;
}

a:hover {
  text-decoration-color: rgb(210, 68, 7);
  text-decoration: underline;

}
header{
position: fixed;
top: 0%;
left: 0%;
padding: 20px 10px;
width: 100%;
z-index: 1;
display: flex;
justify-content: space-evenly;
align-items: center;
transition: 0.5s;
background: linear-gradient(90deg, rgba(192,191,208,1) 13%, rgba(25,72,210,1) 44%, rgba(0,212,255,1) 100%);
font-family: 'poppins', sans-serif;
scroll-behavior: smooth;

}

.logo{
color: #353b68;
font-weight: bold;
font-size: 2em;
text-decoration: none;
margin-right: 70px;
margin-left: -55px;
}
.logo span{
color: #dd8221;
}

.navbar{
display: flex;
position: relative;
}
.navbar li{
list-style: none;
}
.navbar a{
color: #060606;
text-decoration: none;
margin-left: 30px;
font-weight: 700;
font-size: 1.1em;
}
.btn-reserve{
padding: 10px 20px;
background: #fb911f;
margin-top: -10px;
text-transform:uppercase ;
}

.btn-reserve:hover{
background: #d87710;
transition: ease-out;
}

header .navbar li a:hover{
color: #fb911f;
border-bottom: 2px solid #fb911f;
}
header.sticky{
background: #fff;
padding: 10px 10px;
box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}

header.sticky .logo{
color: #000;
}

header.sticky .navbar li a {
color: #000;
}

header.sticky li a:hover{
color: #fb911f;
border-bottom: 2px solid #fb911f;
} 
.titre1 {
  color: rgb(7, 7, 8);
  background-color: #ea9234;
  padding: 5px;
  width: 43%;
}
.titre2 {
  color: rgb(7, 7, 8);
  background-color: #ea9234;
  padding: 5px;
  width: 48%;
}
.form{
  font-family: 'Montserrat', sans-serif;

}
.form input{
margin-bottom: 10px;
}
.form textarea {
  margin-bottom: 10px;
  height: 20vh;
}
.button {
  background-color: #03a9f4;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  margin-left: 15px;
  padding: 8px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0390db;
}
